body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F5F5;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-bg {
  background-color: #F5F5F5 !important;
}

.custom-sec-bg {
  background-color: #607D8B;
}

.custom-btn {
  background-color: #607D8B;
  color: #F5F5F5;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.custom-txt {
  color: #607D8B !important;
}
